h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: left;
    color : #90d7fb;
    font-size: 500%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffd1ae;
}