@use postcss-nested;

.shadow-button-set {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5vmin;
  
  & > li {
    display: inline-flex;
    background: #fb87be;
    
    &:is(:hover, :focus-within) > button:not(:active) {
      --distance: -10px;
    }
  }
  
  

  
  & button {
    appearance: none;
    outline: none;
    font-size: 5vmin;
    border: 3px solid #ffd1ae;
    background: #90d7fb;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
    --distance: 0;
    transform: translateX(var(--distance)) translateY(var(--distance));
    
    @media (prefers-reduced-motion: no-preference) {
      will-change: transform;
      transition: transform .2s ease ;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  
  display: grid;
  place-content: center;
  background-color: #5a4580;
  
  background-image: url("../images/arcade.jpg");
  background-repeat: repeat;
  background-size: 50%;
  background-blend-mode: lighten;
}


